<plc_config>
    <ip_list>
        <ip>172.16.66.131</ip>
        <ip>172.16.66.132</ip>
        <ip>172.16.66.133</ip>
        <ip>172.16.66.134</ip>
        <ip>172.16.66.135</ip>
        <ip>172.16.66.136</ip>
        <ip>172.16.66.137</ip>
    </ip_list>
    <rack>0</rack>
    <slot>1</slot>
</plc_config>